<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/style.css">
    <title>Contact Us</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/services">Our Services</a>
        <a href="/contact">Contact Us</a>
    </nav>
    <h1>Contact Us</h1>
    <p>Email: peterifechukwuudechukwu@gmail.com</p>
    <p>Phone: +234 8060311892</p>
</body>

</html>